---
const pageTitle = "Blog";

import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/blogposts/*.md', { eager: true }));



---
<BaseLayout pageTitle={pageTitle} >
  
  
  
  <div class="gif-container-mini" style="padding:50px;">
    <img src="/images/hero/hang.gif">
</div>

   
  
  <Hero heroTitle={"stuff I'm thinking about...."}/>
   
     
   
    
  

 <section>
  

  <ul class="bloglist">

    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        
         </ul>
 </section>
  


      <script>
        import "../scripts/menu.js";
      </script>

</BaseLayout>