---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';


const pageTitle = "Lists";




---
<BaseLayout pageTitle={pageTitle}>

    <div class="gif-container-mini">
        <img src="/public/images/hero/list.gif" alt="Hero Image">
    </div>


  <Hero  heroTitle={"thing lists"} herosubTitle={"lists can be nice. sometimes."}>
    </Hero>

 
  
  

</BaseLayout>