---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/notesposts/*.md', { eager: true }));



const pageTitle = "Notes";




---
<BaseLayout pageTitle={pageTitle}>

    <div class="gif-container-mini">
        <img src="/images/hero/zomb.gif" alt="Zombie Image">
    </div>


  <Hero  heroTitle={"What's in my heaaaaad"} herosubTitle={"*Besides the Cranberries obvs"} />

  <section>
     
    
    <ul class="bloglist">

      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
          
           </ul>

  
   </section>
  

</BaseLayout>