---

import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "suggestions";
---

<BaseLayout pageTitle={pageTitle}>

  <div class="gif-container-mini">
    <img src="/public/images/hero/appl.gif" alt="windchime">
</div>



  
  </BaseLayout>