---

import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "suggestions";
---

<BaseLayout pageTitle={pageTitle}>

  <div class="gif-container-mini">
    <img src="/images/hero/appl.gif" alt="windchime">
</div>
<div style="-ms-flex-item-align: center;">

  <h2 style="text-align:center;">Coming soon: Place where you can suggest builds for me to make</h2>
</div>


  
  </BaseLayout>