---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
---


<div class="headr">
    <Hamburger />
    <div class="logo"><a href="/">akils is building</a></div>


<Navigation />

</div>
