---
---
<nav>
<div class="nav-links">


  <a href="/builds">Builds</a>
  <a href="/blog">Blog</a>

  <a href="/notes">Notes</a>
  <a href="/lists">Lists</a>
  <a href="/suggest">Suggestions</a>
  <a href="/habittracker">Habits</a>

</div>
</nav>